.update-password-container {
    display: grid;
    min-height: calc(100vh - 3.5rem);
    place-items: center;
    padding: 0 20px; /* Add padding for smaller screens */
  }
  
  .update-password-content {
    max-width: 500px;
    padding: 16px;
    background-color: #ffffff; /* Optional: Add background for better visibility */
    border-radius: 8px; /* Optional: Round the corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better distinction */
  }
  
  .update-password-heading {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.375rem;
    color: #1e293b;
    text-align: center;
  }
  
  .update-password-subtext {
    margin: 16px 0;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #64748b;
    text-align: center;
  }
  
  .input-label {
    display: block;
    margin-bottom: 12px;
    font-size: 0.875rem;
    color: #1e293b;
  }
  
  .required {
    color: #f43f5e;
  }
  
  .form-input {
    width: 100%;
    padding-right: 40px;
    padding: 12px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
  }
  
  .password-toggle {
    position: absolute;
    right: 12px;
    top: 38px;
    cursor: pointer;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #facc15;
    border-radius: 8px;
    font-weight: 500;
    color: #1e293b;
    margin-top: 24px;
    cursor: pointer;
  }
  
  .back-to-login {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
  
  .back-to-login a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1e293b;
  }
  
  @media (max-width: 768px) {
    .update-password-content {
      max-width: 100%; /* Make form width full on tablets */
      padding: 12px;
    }
  
    .update-password-heading {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
    .update-password-subtext {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    .submit-button {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .update-password-content {
      padding: 10px;
    }
  
    .update-password-heading {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  
    .update-password-subtext {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  
    .submit-button {
      font-size: 0.875rem;
      padding: 8px;
    }
  
    .form-input {
      padding: 10px;
    }
  
    .password-toggle {
      right: 8px;
      top: 32px;
    }
  }
  