/* Container for tabs */
.tab-container {
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.18);
    display: flex;
    background-color: #f5f5fc; /* Replace with your desired background color */
    padding: 4px;
    gap: 4px;
    margin: 24px 0;
    border-radius: 9999px; /* Rounded full */
    max-width: max-content;
  }
  
  /* Individual tab */
  .tab-button {
    padding: 8px 20px;
    border-radius: 9999px; /* Rounded full */
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #9ca3af; /* Default text color */
    transition: all 0.2s ease;
  }
  
  /* Active tab */
  .tab-button.active {
    background-color: #606163; /* Replace with your active background color */
    color: #f9fafb; /* Replace with your active text color */
  }
  
  /* Hover state for tabs */
  .tab-button:hover {
    background-color: #353636; /* Hover background color */
  }
  